.aboutTrainSection {
    border-bottom: 1px solid;
}

.choiceTrain_aside {
    background-color: var(--aside-background-color);
    max-width: 360px;
    padding: 43px 34px 34px 30px;
}

.aboutTrain_input {
    /* width: 100%; */
    height: 45px;
    max-width: 295px;
}

.aboutTrain_functionsList {
    list-style: none;
    width: 100%;
}

.function_item {
    display: flex;
    justify-content: space-between;
}