.check-passangers-title,
.check-passangers-container,
.check-train-title {
    font-size: 30px;
    color: var(--text-color-black);
    font-weight: 400;
    border: 1px solid var(--user-comment-color);
}

.check-passangers-aside {
    border-left: 1px dotted var(--user-comment-color);
}

.btn-change-passangers,
.btn-change-payMethod {
    font-size: 24px;
    font-weight: 700;
    color: var(--text-color-black);
    background-color: transparent;
    border-radius: 5px;
    padding: 3px 50px;
}

.btn-change-passangers:hover,
.btn-change-payMethod:hover {
    border: 2px solid transparent;
    background-color: var(--main-color);
    color: var(--text-color);
}

.btn-change-passangers:active,
.btn-change-payMethod:active {
    border: 2px solid var(--main-color);
    color: var(--text-color-black);
    background-color: var(--active-color);
}

.check-passangers-sum-text,
.check-sum-price {
    font-size: 30px;
    color: var(--text-color-black);
}

.check-sum-price {
    font-weight: 700;
}

.check-methodPay {
    font-size: 24px;
    color: var(--text-color-black);
}

.check-payMethod-container {
    border: 1px dotted var(--user-comment-color);
}

.btn-checkSuccess {
    font-size: 24px;
    font-weight: 700;
    align-self: flex-end;
    padding: 10px;
    text-transform: uppercase;
    border-radius: 5px;
    border: none;
    background-color: var(--main-color);
}