.passanger {
    border-bottom: 1px dotted var(--user-comment-color);
}

.passanger-age,
.passanger-name {
    font-size: 18px;
    color: var(--text-color-black);
}

.passanger-dateBirthday,
.passanger-document,
.passanger-gender,
.passanger-invalid {
    font-size: 18px;
    color: var(--user-comment-color);
}