.section_aboutUs {
    padding: 7.4vw 6vw 0vw 13.4vw;
}

.about-us-container {
    margin-top: 1.1vw;
    border-left: 10px solid var(--main-color);
}

.about_us_textContainer {
    padding-left: 1vw;
}

.about_us_title {
    font-size: 36px;
    text-transform: uppercase;
    color: var(--text-color-black);
}

.about_us_text {
    color: var(--text-color-black);
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 29px;
}

.left-line {
    height: 91%;
    width: 10px;
    margin-right: 19px;
    background-color: var(--main-color);
}

.about_us_text:last-child {
    margin-bottom: 7px;
}

.text_bold {
    font-weight: 700;
}