.tickets_container {
    margin-top: 48px;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

.ticket_text {
    color: var(--text-color-black);
    text-transform: capitalize;
}

.ticket_container {
    box-shadow: 0px 2px 0px 0px rgba(34, 60, 80, 0.3);
}

/***************************************/

.infoTrain {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--ticket-section-color);
    padding: 60px 10px;
}

.train_icon {
    width: 86px;
    height: 86px;
    margin-bottom: 17px;
}

.train_number {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 15px;
}

.icon_arrow_travel_city {
    margin-left: 10px;
}

/**********************************/

.infoTicket {
    display: flex;
    background-color: var(--active-color);
    border-right: 2px dashed var(--placeholder-color);
    border-top: 2px solid var(--placeholder-color);
}

.departure {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

.ticket_time {
    color: var(--text-color-black);
    text-transform: capitalize;
    font-size: calc(14px + 10 * (100vw - 360px) / 1560);
    font-weight: bold;
}

.ticket_city_name {
    text-transform: capitalize;
    color: var(--text-color-black);
    font-size: calc(14px + 10 * (100vw - 360px) / 1560);
}

.ticket_railway_station {
    text-transform: capitalize;
    color: var(--user-comment-color);
}

.time_travel {
    text-align: center;
}

.time_travel_text {
    font-size: 18px;
    color: #C4C4C4;
}

/*********************/

.infoPrice {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 40px 20px;
    border-top: 2px solid var(--placeholder-color);
    border-right: 2px solid var(--placeholder-color);
    background-color: var(--text-color);
    row-gap: 30px;
}

.seatInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.seatName {
    width: 35%;
}

.seatCount {
    color: var(--main-color);
    font-weight: 500;
}

.seatPrice {
    color: var(--text-color-black);
    font-size: 24px;
    font-weight: bold;
}

.text_price {
    color: var(--user-comment-color);
}

.footer_ticket_price {
    display: flex;
    flex-direction: column;
}

.available_functions {
    text-align: end;
    margin-bottom: 15px;
}

.choiceSeatsBtn {
    background-color: var(--ticket-btn);
    color: var(--text-color);
    font-size: 24px;
    font-weight: bold;
    border-radius: 5px;
    border-color: transparent;
    padding: 6px 14px 9px 10px;
}

.changeTrainBtn {
    font-size: 24px;
    font-weight: 700;
    color: var(--text-color-black);
    background-color: transparent;
    border-radius: 5px;
    padding: 3px 50px;
}

.choiceSeatsBtn:hover,
.changeTrainBtn:hover {
    border: 2px solid transparent;
    background-color: var(--main-color);
    color: var(--text-color);
}

.choiceSeatsBtn:active,
.changeTrainBtn:active {
    border: 2px solid transparent;
    background-color: var(--main-color);
    color: var(--text-color);
    box-shadow: 0px 5px 5px 2px rgba(34, 60, 80, 0.3)
}