.choiceTrain_menu_list {
    flex-direction: row;
    list-style: none;
}

.choiceTrain_menu_item {
    border-left: 0;
    width: 20%;
    height: 98px;
    background-color: var(--background-color);
}

.choiceTrain_menu_item:first-child,
.choiceTrain_menu_item:last-child {
    width: 30%;
}

.item_number {
    font-size: calc(10px + 20 * (100vw - 360px) / 1560);
}

.item_title {
    font-size: calc(10px + 20 * (100vw - 360px) / 1560);
    margin-bottom: 0;
}

.active_item {
    border: 1px solid black;
    background-color: var(--main-color);
}