.css-1miy0lu-MuiTypography-root,
.css-4g3e7k-MuiTypography-root {
    color: var(--text-color-black);
    padding: 30px;
    text-align: center;
}

.modal_error .css-1miy0lu-MuiTypography-root {
    text-align: start;
    background-color: rgb(255 61 0 /38%);
    padding: 30px;
}

.css-1wnsr1i {
    padding: 0;
}

.btn-close-modal {
    font-size: 24px;
    font-weight: 700;
    padding: 10px 20px;
    background-color: var(--text-color);
    border: 1px solid var(--text-color-black);
    border-radius: 5px;
    color: var(--text-color-black);
}