.header {
    background-image: url('../../static-files/images/background-image.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.header_container {
    max-width: 1920px;
    min-height: 825px;
    border-bottom: 8px solid var(--main-color);
    display: flex;
    flex-direction: column;
    position: relative;
}

.header_body {
    display: flex;
    justify-content: space-between;
}

.search_tickets_menu {
    background-color: var(--background-color);
}

.search_tickets_container {
    display: flex;
}

.form_content {
    padding: 0 1.2vw 0 1.1vw;
}

.direction_ticket {
    padding-top: 72px;
}

.data_ticket {
    padding-top: 55px;
}

.change {
    width: 24px;
    height: 24px;
}

.direction_title,
.data_title {
    font-size: 30px;
    font-weight: 300;
    padding-left: 8px;
}

.input_container {
    display: flex;
    justify-content: space-between;
    padding-top: 11px;
    align-items: center;
    row-gap: 20px;
}

.input-with-dropdown {
    width: 100%;
}

.input_form_tickets {
    color: var(--text-color-black);
    width: 100%;
    height: 60px;
    border: 0;
    border-radius: 3px;
    padding-left: 25px;
}

.input_form_tickets:focus-visible {
    outline: solid var(--main-color);
}

.btn-container {
    padding: 93px 0 52px 0;
}

.search_tickets_btn {
    color: black;
    background-color: var(--main-color);
    cursor: pointer;
    font-size: calc(20px + 4 * (100vw - 360px) / 1560);
    font-weight: 700;
    text-transform: uppercase;
    border: 0;
    border-radius: 5px;
    width: 323px;
    height: 60px;
}

.search_tickets_btn:hover {
    box-shadow: 0px 5px 10px 0px var(--text-color-black);
    border: 1px solid var(--text-color-black);
}

.search_tickets_btn:active {
    background-color: var(--text-color);
    border: 1px solid var(--main-color);
    color: var(--main-color);
}

.input_calendar,
.input_local {
    background-repeat: no-repeat;
    background-position: 95% 50%;
}

.input_calendar {
    background-image: url(/Frontend_DiplomWork/src/static-files/icons/icon_calendar.svg);
}

.input_local {
    background-image: url(/Frontend_DiplomWork/src/static-files/icons/icon_local.svg);
}

.btn_local_change {
    padding: 0 30px;
    width: 24px;
    height: 24px;
    background-color: transparent;
    background-image: url(/Frontend_DiplomWork/src/static-files/icons/icon_change.svg);
    background-repeat: no-repeat;
    background-position: center center;
    border: 0;
    cursor: pointer;
    transition: transform 0.5s;
}

.btn_local_change:hover {
    transform: rotate(-180deg);
}

.light_text {
    font-weight: 100;
    font-size: calc(28px + 44 * (100vw - 360px) / 1560);
}

.bold_text {
    font-size: calc(28px + 44 * (100vw - 360px) / 1560);
    ;
    font-weight: 700;
}

::-webkit-calendar-picker-indicator {
    opacity: 1;
    background: none;
    width: 40%;
    background-size: contain;
}


.input_form_tickets::placeholder {
    font-size: 18px;
    opacity: 1;
    color: var(--placeholder-color);
}


.dropdown-container {
    /* width: 17.8%; */
    margin-top: 10px;
    display: flex;
    position: absolute;
    flex-direction: column;
    background-color: var(--text-color);
    color: var(--text-color-black);
    z-index: 10;
}

.dropdown-item {
    text-transform: uppercase;
    color: var(--text-color-black);
    padding: 13px 0 22px 25px;
    cursor: pointer;
}

.dropdown-item:hover {
    opacity: 0.5;
}

.hidden {
    overflow: hidden;
    opacity: 0;
}

/*/////////////////////////*/

.header-choiceTrain {
    background-image: url('../../static-files/images/background-image-2.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

/* .header_container-choiceTrain {
    max-width: 1920px;
    min-height: 596px;
    display: flex;
    flex-direction: column;
    position: relative;
} */

/* .header_body-choiceTrain {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 30px;
    padding: 5.8vw 11.2vw 0px 11.2vw;
} */

/* .search_tickets_menu-choiceTrain {
    height: 322px;
    background-color: var(--background-color);
} */

/* .direction_ticket-choiceTrain,
.data_ticket-choiceTrain {
    width: 35.8vw;
} */

/* .form_content-choiceTrain {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 1.5vw 2.2vw 0px 2.3vw;
    column-gap: 1.5vw;
} */

/* .input_container-choiceTrain {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
    align-items: center;

} */

/* .input_form_tickets-choiceTrain {
    position: relative;
    color: var(--text-color-black);
    width: 17vw;
    height: 3.2vw;
    border: 0;
    border-radius: 3px;
    padding-left: 25px;
} */

/* .search_tickets_btn-choiceTrain {
    color: black;
    background-color: var(--main-color);
    cursor: pointer;
    font-size: 1.2vw;
    font-weight: 700;
    text-transform: uppercase;
    border: 0;
    border-radius: 5px;
    width: 16.8vw;
    height: 3vw;
    margin: 2.55vw 0 0 18.9vw;
} */