.header_container {
    max-width: 1920px;
    min-height: 985px;
    border-bottom: 8px solid var(--main-color);
    display: flex;
    flex-direction: column;
    background-image: url('../../static-files/images/background-image.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
}



.header_body {
    display: flex;
    justify-content: space-between;
    column-gap: 30px;
    padding: 13.2vw 12vw 0px 18vw;
}

.search_tickets_menu {
    width: 38vw;
    height: 567px;
    background-color: var(--background-color);
}

.search_tickets_container {
    display: flex;
}

.form-content {
    width: 100%;
    padding: 0 25px 0 15px;
}

.direction_ticket {
    margin-top: 79px;
}

.data_ticket {
    margin-top: 57px;
}

.change {
    width: 24px;
    height: 24px;
}

.direction_title,
.data_title {
    font-size: 30px;
    font-weight: 300;
    padding-left: 8px;
}

.input-container {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
    align-items: center;

}

.input_form_tickets {
    position: relative;
    color: var(--text-color-black);
    width: 17vw;
    height: 3.2vw;
    border: 0;
    border-radius: 3px;
    padding-left: 25px;
}

.search_tickets_btn {
    color: black;
    background-color: var(--main-color);
    cursor: pointer;
    font-size: 1.2vw;
    font-weight: 700;
    text-transform: uppercase;
    border: 0;
    border-radius: 5px;
    width: 16.8vw;
    height: 3vw;
    margin: 4.85vw 0 0 18.9vw;
}

.search_tickets_btn:hover {
    box-shadow: 0px 5px 10px 0px var(--text-color-black);
    border: 1px solid var(--text-color-black);
}

.search_tickets_btn:active {
    background-color: var(--text-color);
    border: 1px solid var(--main-color);
    color: var(--main-color);
}

.input_calendar,
.input_local {
    background-repeat: no-repeat;
    background-position: 95% 50%;
}

.input_calendar {
    background-image: url(/Frontend_DiplomWork/src/static-files/icons/icon_calendar.svg);
    width: 47%;
}

.input_local {
    background-image: url(/Frontend_DiplomWork/src/static-files/icons/icon_local.svg);
}

.btn_local_change {
    width: 24px;
    height: 24px;
    background-color: transparent;
    background-image: url(/Frontend_DiplomWork/src/static-files/icons/icon_change.svg);
    background-repeat: no-repeat;
    background-position: center center;
    border: 0;
    cursor: pointer;
    transition: transform 0.5s;
}

.btn_local_change:hover {
    transform: rotate(-180deg);
}

.slogan {
    max-width: 506px;
    font-weight: 100;
    font-size: 3.75vw;
    padding-top: 8.2vw;
}

.bold_text {
    font-weight: 700;
}

.burger-menu {
    display: none;
    position: relative;
    width: 40px;
    height: 35px;
    z-index: 10;
}

.burger-line {
    position: absolute;
    height: 5.5px;
    width: 30px;
    background-color: var(--text-color);
    left: 5px;
}

.burger-line:nth-child(1) {
    transform: translateY(0px);
}

.burger-line:nth-child(2) {
    transform: translateY(10px);
}

.burger-line:nth-child(3) {
    transform: translateY(20px);
}

::-webkit-calendar-picker-indicator {
    opacity: 1;
    background: none;
    background-size: contain;
}

.input_form_tickets::placeholder {
    font-size: 18px;
    opacity: 1;
    color: var(--placeholder-color);
}


.dropdown-container {
    width: 48%;
    margin-top: 10px;
    display: flex;
    position: absolute;
    flex-direction: column;
    background-color: var(--text-color);
    color: var(--text-color-black);
    z-index: 10;
}

.dropdown-item {
    text-transform: uppercase;
    color: var(--text-color-black);
    padding: 13px 0 22px 25px;
    cursor: pointer;
}

.dropdown-item:hover {
    opacity: 0.5;
}

@media (min-width: 769px) and (max-width: 1024px) {

    .nav_item_text {
        font-size: 24px;
    }

    .header_body {
        text-align: center;
        align-items: center;
        flex-direction: column;
    }

    .slogan {
        font-size: 50px;
        max-width: 865px;
        padding-top: 0;
        margin-bottom: 50px;
    }

    .search_tickets_menu {
        width: 60vw;
        height: 500px;
    }

    .input_form_tickets {
        width: 25vw;
        height: 7vw;
    }

    .search_tickets_btn {
        font-size: 14px;
        width: 20vw;
        height: 5vw;
        margin: 4.85vw 0 0 32vw;
    }
}

@media (min-width: 320px) and (max-width: 768px) {

    .header_body {
        margin: 0 auto;
        padding: 0;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .navbar_container {
        background-color: transparent;
    }

    .nav_list {
        display: none;
    }

    .nav_item_text {
        font-size: 16px;
    }

    .slogan {
        font-size: 12vw;
        margin-bottom: 10vw;
        max-width: 100%;
    }

    .burger-menu {
        display: block;
        top: -50px;
        left: 70vw
    }

    .search_tickets_menu {
        width: 85vw;
        height: 100%;
    }

    .input-container {
        flex-direction: column;
    }

    .input_form_tickets {
        width: 70vw;
        height: 15vw;
    }

    .input_calendar {
        margin-bottom: 20px;
    }

    .btn_local_change {
        width: 50px;
        height: 50px;
    }

    .direction_ticket {
        margin-top: 10vw;
    }

    .data_ticket {
        margin-top: 10vw;
    }

    .search_tickets_btn {
        font-size: 17px;
        width: 65vw;
        height: 12vw;
        margin: 5vw 0 5vw 0vw;
    }
}

/*/////////////////////////*/

.header_container-choiceTrain {
    max-width: 1920px;
    min-height: 596px;
    border-bottom: 8px solid var(--main-color);
    display: flex;
    flex-direction: column;
    background-image: url('../../static-files/images/background-image-2.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
}

.header_body-choiceTrain {
    display: flex;
    justify-content: space-between;
    column-gap: 30px;
    padding: 5.8vw 11.2vw 0px 11.2vw;
}

.search_tickets_menu-choiceTrain {
    height: 322px;
    background-color: var(--background-color);
}

/* .search_tickets_container {
    display: flex;
    justify-content: space-between;
} */

.direction_ticket-choiceTrain,
.data_ticket-choiceTrain {
    width: 35.8vw;
}

.form-content-choiceTrain {
    display: flex;
    justify-content: space-between;
    /* flex-wrap: wrap; */
    width: 100%;
    padding: 1.5vw 2.2vw 0px 2.3vw;
    column-gap: 1.5vw;
}

.change {
    width: 24px;
    height: 24px;
}

.direction_title,
.data_title {
    font-size: 30px;
    font-weight: 300;
    padding-left: 8px;
}

.input-container-choiceTrain {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
    align-items: center;

}

.input_form_tickets-choiceTrain {
    position: relative;
    color: var(--text-color-black);
    width: 17vw;
    height: 3.2vw;
    border: 0;
    border-radius: 3px;
    /* padding-left: 25px; */
}

.search_tickets_btn-choiceTrain {
    color: black;
    background-color: var(--main-color);
    cursor: pointer;
    font-size: 1.2vw;
    font-weight: 700;
    text-transform: uppercase;
    border: 0;
    border-radius: 5px;
    width: 16.8vw;
    height: 3vw;
    margin: 2.55vw 0 0 18.9vw;
}

.search_tickets_btn:hover {
    box-shadow: 0px 5px 10px 0px var(--text-color-black);
    border: 1px solid var(--text-color-black);
}

.search_tickets_btn:active {
    background-color: var(--text-color);
    border: 1px solid var(--main-color);
    color: var(--main-color);
}

.input_calendar,
.input_local {
    background-repeat: no-repeat;
    background-position: 95% 50%;
}

.input_calendar {
    background-image: url(/Frontend_DiplomWork/src/static-files/icons/icon_calendar.svg);
    width: 47%;
}

.input_local {
    background-image: url(/Frontend_DiplomWork/src/static-files/icons/icon_local.svg);
}

.btn_local_change {
    width: 24px;
    height: 24px;
    background-color: transparent;
    background-image: url(/Frontend_DiplomWork/src/static-files/icons/icon_change.svg);
    background-repeat: no-repeat;
    background-position: center center;
    border: 0;
    cursor: pointer;
    transition: transform 0.5s;
}

.btn_local_change:hover {
    transform: rotate(-180deg);
}

::-webkit-calendar-picker-indicator {
    opacity: 1;
    background: none;
    background-size: contain;
}

.input_form_tickets::placeholder {
    font-size: 18px;
    opacity: 1;
    color: var(--placeholder-color);
}


.dropdown-container {
    width: 48%;
    margin-top: 10px;
    display: flex;
    position: absolute;
    flex-direction: column;
    background-color: var(--text-color);
    color: var(--text-color-black);
    z-index: 10;
}

.dropdown-item {
    text-transform: uppercase;
    color: var(--text-color-black);
    padding: 13px 0 22px 25px;
    cursor: pointer;
}

.dropdown-item:hover {
    opacity: 0.5;
}
