.logo_container {
    padding-top: 0.45%;
    padding-left: 13%;
}

.logo_text {
    color: var(--text-color);
    text-decoration: none;
    font-size: 36px;
    font-weight: 900;
}

.navbar_container {
    background-color: var(--background-color);
    padding: 0.5% 0 0.3% 0%;
}

.navList {
    list-style: none;
    padding-left: 13.4vw;
}

.nav_item:nth-child(-n+2) {
    margin-right: 5.3%;
}

.nav_item:nth-child(3) {
    margin-right: 4.5%;
}

.nav_item_text {
    color: var(--text-color);
    text-decoration: none;
    font-size: 30px;
    font-weight: 300;
    line-height: 48px;
    white-space: nowrap;
}

.nav_item_text:hover,
.logo_container :hover {
    color: var(--main-color);
}