.contactUs_title,
.subscribe_title {
    font-size: 30px;
    color: var(--text-color);
    font-weight: 500;
}

.contacts_container {
    list-style: none;
}

.contact_item {
    display: flex;
    margin-bottom: 23px;
}

.contact_icon {
    max-width: 30px;
    max-height: 30px;
    margin-right: 36px;
}

.contact_icon_local {
    margin-right: 45px;
}

.contact_link {
    font-size: 24px;
    color: var(--placeholder-color);
}

.contact_link_local {
    line-height: 27px;
}

.footer_logo_container {
    height: 95px;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid white;
}

.footer_logo_text {
    color: var(--text-color);
    text-decoration: none;
    font-size: 36px;
    font-weight: 900;
}

.footer_logo_text:hover {
    color: var(--main-color);
}

.footer_year {
    font-size: 24px;
    font-weight: 300;
    color: var(--placeholder-color);
}

.form_title {
    font-size: 24px;
}

.input_email {
    height: 62px;
    padding-left: 20px;
    color: var(--text-color-black);
}

.input_email:focus-visible {
    outline: solid var(--main-color);
}

.input_email::placeholder {
    font-size: 24px;
}

.form_submit {
    display: flex;
    row-gap: 30px;
    column-gap: 30px;
    flex-wrap: wrap;
}

.btn_submit {
    font-size: 24px;
    font-weight: 300;
    text-transform: uppercase;
    padding: 11px 16px;
    border: 2px solid var(--text-color);
    border-radius: 2px;
    background-color: transparent;
    cursor: pointer;
}

.btn_submit:hover {
    border: 2px solid transparent;
    background-color: var(--hover-color);
    color: var(--text-color-black);
}

.btn_submit:active {
    border: 2px solid transparent;
    color: var(--text-color-black);
    background-color: var(--active-color);
}

.links_container {
    margin-top: 42px;
}

.links_list {
    list-style: none;
    margin-top: 22px;
    row-gap: 30px;
}

.link_item_icon {
    cursor: pointer;
}

.footer_svg:hover>.link_item_icon {
    fill: var(--hover-color);
    cursor: pointer;
}

.footer_svg:active>.link_item_icon {
    fill: white;
    cursor: pointer;
}

.footer_svg:hover>.svg_arrowUp_arrow {
    fill: var(--main-color);
}

.footer_svg:hover>.svg_arrowUp_circle {
    stroke: var(--hover-color);
}