.comments_title {
    font-size: 36px;
    color: var(--text-color-black);
    text-transform: uppercase;
}

.comments_items {
    list-style: none;
    row-gap: 50px;
}

.user_name {
    font-size: 24px;
    color: var(--text-color-black);
    font-weight: 700;
}

.user_comment {
    padding-top: 14px;
    font-size: 18px;
    line-height: 22px;
    font-weight: lighter;
    font-style: italic;
    color: var(--user-comment-color);
}

.user_photo_first {
    width: 206px;
    height: 207px;
}

.user_photo_second {
    width: 200px;
    height: 201px;
}

.page_item {
    width: 20px;
    height: 20px;
    content: "";
    display: block;
    border-radius: 100%;
    background-color: var(--page-item);
    opacity: 0.1;
    cursor: pointer;
}

.page_item:hover {
    opacity: 0.3;
}

.page_active {
    opacity: 1
}

.page_active:hover {
    opacity: 1
}

.carousel-indicators {
    bottom: -10vw;
}

.carousel-indicators [data-bs-target] {
    background-color: var(--text-color-black);
    width: 20px;
    height: 20px;
    content: "";
    display: block;
    border-radius: 100%;
    background-color: var(--page-item);
    opacity: 0.1;
    cursor: pointer;
}

.carousel-indicators .active {
    opacity: 1;
}