.thumb {
    background-color: var(--text-color);
    width: 18px;
    height: 18px;
}

.track {
    border: 10px;
    background-color: var(--main-color);
    height: 10px;
    border-radius: 8px;
    width: 100%;
}

.rail {
    background-color: transparent;
    border: 1px solid;
    height: 10px;
    border-radius: 8px;
}