.thumb {
    background-color: var(--text-color);
    width: 24px;
    height: 24px;
}

.track {
    border: 10px;
    background-color: var(--main-color);
    height: 19px;
    border-radius: 8px;
}

.rail {
    background-color: transparent;
    border: 1px solid;
    height: 19px;
    border-radius: 8px;
}