.ticket-item {
    border: 1px solid var(--border-color);
}

.city-name {
    font-size: 20px;
    color: var(--text-color-black);
    text-transform: capitalize;
}

.railway-name {
    color: var(--user-comment-color);
}

.price-from-word {
    color: var(--user-comment-color);
}

.price-ticket {
    font-size: calc(20px + 14 * (100vw - 360px) / 1560);;
    font-weight: 700;
    color: var(--main-color);
}