.up,
.down {
    display: flex;
    flex-direction: column;
}

.row-lefgt,
.row-right {
    display: flex;
}

.range-1,
.range-2,
.range-3,
.range-4,
.range-5,
.range-6,
.range-7,
.range-8 {
    display: flex;
    flex-direction: column;
    column-gap: 0.5vw;
    row-gap: 1vw;
}