.hdtw-header-container {
    padding: 3.3vw 14vw 0 13vw;
}

.hdtw-container {
    margin-top: 6.1%;
    min-height: 575px;
    background-image: url('../../static-files/images/background-image_2.png')
}

.hdtw_logo {
    font-size: 36px;
    color: var(--text-color);
    text-transform: uppercase;
    text-align: center;
}

.btn_findMore {
    font-size: 24px;
    font-weight: 700;
    background-color: transparent;
    border: 2px solid var(--text-color);
    color: var(--text-color);
    border-radius: 5px;
    padding: 9px 75px;
    text-align: center;
    cursor: pointer;
}

.btn_findMore:hover {
    border: 2px solid transparent;
    background-color: var(--hover-color);
    color: var(--text-color-black);
}

.btn_findMore:active {
    border: 2px solid transparent;
    color: var(--text-color-black);
    background-color: var(--active-color);
}

.steps_container {
    list-style: none;
    margin-top: 97px;
    row-gap: 70px;
}

.hdtw_item_text {
    font-size: 24px;
    color: var(--text-color);
    text-align: center;
    padding-top: 32px;
}

.first_text {
    line-height: 29px;
}

.second_text {
    line-height: 29px;
}

.third_text {
    line-height: 27px;
}